<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Architecture-As-Code</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>

{{{body}}}

</body>
</html>
